<!DOCTYPE html>
<html lang="en" class="yui3-js-enabled wf-omnespro-n2-active wf-omnespro-n3-active wf-proximanova-n1-active wf-proximanova-n4-active wf-proximanova-n7-active wf-active">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/pure.css")" rel="stylesheet" type="text/css" /> 
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />  
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
    @RenderSection("JavaScript", required: false)

    <style type="text/css">
        .demo-unit, .tk-proxima-nova, body, h2, h3
        {
            font-family: "proxima-nova" ,sans-serif;
        }
        .header h1, .hero h1, .hero h2, .tk-omnes-pro
        {
            font-family: "omnes-pro" ,sans-serif;
        }
        .inside
        {
        	margin-left:30px;
        	margin-top:50px;
        }
    </style>
</head>
<body>
    <div class="content pure-g-r pure-skin-mine">
        <div class="header pure-u-1 pure-skin-mine">
            <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal pure-skin-mine">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="@Url.Content("~/Estados")">Estados</a></li>
                    <li><a href="@Url.Content("~/Cidades")">Cidades</a></li>
                </ul>
            </div>
        </div>
        <div class="content pure-u-1 pure-skin-mine">
            <div class="pure-g-r content-ribbon pure-skin-mine">
                <div class="pure-u-2-3 pure-skin-mine">
                    <div class="1-box pure-skin-mine">
                        <div class="inside pure-skin-mine">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
